<nz-layout class="layout">
  <nz-header>
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <h1>
          NgxPreviewer
        </h1>
      </div>
      <div nz-col [nzSpan]="12" style="text-align: right;">
        <!-- <a class="github-button" href="https://github.com/haoliangwu/ngx-previewer/issues" data-icon="octicon-issue-opened" aria-label="Issue haoliangwu/ngx-previewer on GitHub">Issue</a>
        <a class="github-button" href="https://github.com/haoliangwu/ngx-previewer" data-icon="octicon-star" data-show-count="true"
          aria-label="Star haoliangwu/ngx-previewer on GitHub">Star</a> -->
      </div>
    </div>
  </nz-header>
  <nz-content>
    <div style="padding: 3em;">
      <button nz-button [nzType]="'default'" (click)="handleClick(fileInput)">
        <span>Upload File and Preview</span>
      </button>
      <div class="previewer-wrapper" [ngxLoadingMask]="'preview'">
        <ngx-preview-container [file]="file"></ngx-preview-container>
      </div>
    </div>
    <input style="visibility: hidden;" type="file" #fileInput (change)="selectFile(fileInput.files)">
  </nz-content>
</nz-layout>
